html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1f1f23;
}

video {
    width: 100%;
    display: flex;
}


label {
    cursor: pointer;
}

.header {
    background-image: linear-gradient(-145deg, #333333 50%, #3a3a3d 80%);
}

.footer {
    position: absolute;
    bottom: 0;
    line-height: 60px;
    width: 100%;
    background-image: linear-gradient(145deg, #333333 50%, #3d3d3f 80%);
}

.drop {
    position: relative;
    display: inline-block;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: #1f1f23;
}

.dropbtn {
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    transition: all .15s ease-in-out;
    background-color: #1f1f23;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #1f1f23;
    width: 100%;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    box-shadow: 0 .5rem .5rem #121212;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.droplink {
    background-color: #1f1f23;
    transition: all .15s ease-in-out;
}

.droplink:hover {
    background-color: #111111;
}

.drop:hover .drop-content {display: block;}


.drop:hover .dropbtn {background-color: #111111; border-bottom-right-radius: 0;}

.un-collapsed {
    display: none;
}

@media (min-width: 576px)
{
    .un-collapsed {
        display: flex;
    }
}

.collapsed {
    display: inline;
}

@media (min-width: 576px)
{
    .collapsed {
        display: none;
    }
}
/*--------------------------------------------------------------------------*/
.jumbotron {
    background-color: #3a3a3d;
}

.jumbotron .position-absolute {
    bottom: 0;
    right: 0;
}

.btn:hover {
    outline: none;
    box-shadow: none;
}

.row .btn:focus {
    outline: none;
    box-shadow: none;
}

.row .col .btn:hover:active {
    outline: none;
    box-shadow: none;
}

.row .col .btn:focus:active {
    outline: none;
    box-shadow: none;
}

.navbar {
    font-family: 'Nunito', sans-serif;
}

.navbar-toggler {
    color: #ffffff;
    transition: color .15s ease-in-out;
}

.navbar-toggler:hover {
    color: #1f1f23;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: 0;
}

.file-input {
    font-size: .7rem;
    color: #1f1f23;
    transition: color .15s ease-in-out;
}

.file-input:hover {
    color: #111111;

}

@media (min-width: 576px)
{
    .file-input {
        font-size: 1rem;
    }
}

.card-shadow {
    box-shadow: 0 .5rem .5rem #121212;
}

.card .card-img {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 0;

}
@media (min-width: 576px){
    .card .card-img {
        height: 140px;
    } 
}

@media (min-width: 768px) {
    .card .card-img {
        height: 190px;
    }
}

@media (min-width: 1200px) {
    .card .card-img {
        height: 220px;
    }
}

.card .card-header {
    background-color: #3a3a3d;
    font-family: 'Nunito', sans-serif;
}

.card .card-footer {
    background-color: #3a3a3d;
    font-family: 'Nunito', sans-serif;
}


.close {
    text-shadow: none;
}

.form-control {
    border-color: #111111;
    outline: none;
}

.input-group {
    font-family: 'Nunito', sans-serif;
}

.col {
    font-family: 'Nunito', sans-serif;
}

.btn-dark {
    background-color: #1f1f23;

}

.btn-dark:focus {
    background-color: #1f1f23;
}

.btn-dark:hover {
    background-color: #111111;
}

.input-group .input-group-append .btn {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-color: #1f1f23;
}

.input-group .input-group-append .btn:hover {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-color: #111111;
}

.input-group .input-group-append .btn:focus {
    outline: none;
    box-shadow: none;
}

.input-group .input-group-append .btn:active:hover {
    border-color: #1d2124;
    outline: none;
    box-shadow: none;
}

.input-group .input-group-append .btn:active:focus {
    border-color: #1d2124;
    outline: none;
    box-shadow: none;
}

.input-group .form-control {
    height: auto;
    background-color: #1f1f23;
    color: #ffffff;
}

.input-group .form-control::-moz-placeholder {
    color: #ffffff;
}

.input-group .form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: #1f1f23;
}

.row .input-group .form-control:focus {
    box-shadow: 0 .5rem .5rem #121212;
}

.row .border-top {
    border-top-width: 2px;
    border-top-color: #333333 !important;
}

.row .border-bottom {
    border-bottom-width: 2px;
    border-bottom-color: #333333 !important;
}














