@page
@model IndexModel
@{
    ViewData["Title"] = "VideoUploader";
}

<div class="container text-center text-light">
    <div>
        <h3 class="h3">Welcome to @ViewData["Title"]&trade;</h3>
    </div>

    <div>
        <p>There's absolutely no reason for this webiste to exist. As a matter of fact, your life would not only be unaffected by this website not existing,
        It would probably improve your quality of life vastly. Take my PSA to your heart: Get the fuck out of here, now!</p>
        <small> -- And no, I will not abuse your personal information
        through cookies and sell it to that Facebook corperation to make a quick buck. I'm better than that.</small>
    </div>
    
</div>
