@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    PSA!!! PSA!!! PSA!! -- You'd literaly have a bigger chance of contracting the bubonic plague than getting your private information
    stolen by me.
</p>