@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container text-light">
    <h1>@ViewData["Title"]</h1>

    <p>
        PSA!!! PSA!!! PSA!! -- Don't worry about getting your personal information abused by me, I wouldn't know how to even if I wanted.
    </p>
</div>
